.bars-icon {
    font-size: 34px;
}
.overlay {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    height: 100vh;
    width: 0;
    z-index: 2;
    top: 0;
    left: 0;
    transition: all .9s ease-in;
    overflow-x: hidden;
}
.aktiv {
    width: 100%;
}
.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 32px;
}
.cross-icon {
    position: absolute;
    right: 45px;
    top: 40px;
    font-size: 34px;
    color: white;
}
.my-custom-btn {
    background: #3A68B8;
    border-radius: 5px;
    padding: 10px;
    color: white;
}