@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

* , *::before , *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #222;
  font-family: 'Open Sans', sans-serif;
}

/* WRAPPER SECTION START */

.wrapper {
  padding-left: 387px;
  padding-right: 387px;
}

@media (max-width:1530px) {
  .wrapper {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (max-width:1050px) {
  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}